<ul id="nav">
  <li><a href="https://dlfaigmwgdev.herokuapp.com/" target="_top">DLF AIG Metadata Working Group Toolkit</a></li>
  <li><a href="https://dlfaigmwgdev.herokuapp.com/about.html" target="_top">About &amp; Contact</a></li>
  <li><a href="https://dlfaigmwgdev.herokuapp.com/take-part.html" target="_top">Participate</a></li>
  <li><a href="https://dlfaigmwgdev.herokuapp.com/why.html"target="_top">Importance of Metadata Assessment</a></li>
  <li><a href="/">Environmental Scan</a>
	  <ul>
		<li><a href="/entries/31organizations.html">Organizations &amp; Groups</a></li>
		<li><a href="/entries/32presentations.html">Presentations</a></li>
		<li><a href="/entries/33publications.html">Publications</a></li>
		<li><a href="/entries/34tools.html">Tools</a></li>
		<li><a href="/entries/35citation.html">Citations</a></li>
		<li><a href="/entries/37contributors.html">2016 Contributors</a></li>
      </ul>
  </li>
  <li><a href="https://dlfaigmwgdev.herokuapp.com/Framework" target="_top">Metadata Assessment Framework</a>
  <li><a href="https://dlfaigmwgdev.herokuapp.com/Tools" target="_top">Tools for Metadata Assessment</a></li>
  <li><a href="https://dlfaigmwgdev.herokuapp.com/MetadataSpecsClearinghouse" target="_top">Metadata Profiles &amp; Mappings Clearinghouse</a></li>
  <li><a href="https://dlfaigmwgdev.herokuapp.com/Resources" target="_top">Glossary &amp; Resources</a></li>
  <li><a href="https://dlfaigmwgdev.herokuapp.com/collaborations.html"target="_top">Collaborations</a></li>
  <li><a href="https://dlfaigmwgdev.herokuapp.com/contributors.html">Contributors</a></li>
</ul>